# dependencies
node_modules

# output
out
dist
*.tgz

# coverage
coverage
*.lcov

# logs
logs
*.log

# env
.env
.env.local
.env.*.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IDE
.idea
.cursor
.claude

# OS
.DS_Store

# deploy
*.zip
deploy.bat
